

#contenedor {
    width: 500px;
    height: 500px;
    background-color: cornflowerblue;
    margin: 50px auto;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}



#encabezado>h1{
    font-size: 50px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-shadow: 5px 5px 5px #131111;
}

#controles {
    display: flex;
    flex-direction: row;
    
}
#display {
    width: 250px;
    display: flex;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 40px;
    justify-content: center;
    font-size: 150px;
    box-shadow:  5px 5px 5px #131111;;

}

#controles>button{
    background-color: rgb(29, 91, 184);
    width: 70px;
    height: 70px;
    padding: 5px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow:  5px 5px 5px #131111;
    margin-top: -80px;
    font-size: 30px;
    
}

#controles>button:hover{
    
    transform: scale(1.1);
    cursor:grab;
    border: 2px solid rgb(31, 170, 212);
}



